{% extends "layout.html" %}
{% from "macros/news.html" import render_news_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}ClojureScript micro framework for Reagent | Keechma News {% endblock %}
{% block body %}
  <div class="container main-container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title">News</div>
      </div>
    </div>
    <div class="news-wrap">
      {% for child in this.pagination.items %}
        {% if loop.index0 == 0 %}
          <link itemprop="mainEntityOfPage" href="{{ child|url }}">
        {% endif %}
        {{ render_news_post(child, from_index=true) }}
      {% endfor %}
    </div>
    {% if this.pagination.pages > 1 %}
      <div class="row">
        <div class="col-xs-12"> {{ render_pagination(this.pagination) }}</div>
      </div> 
    {% endif %}
  </div>
{% endblock %}
